
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #13c3c3 !important;
}

.layout {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}


[v-cloak]{
  display: none;
}

.form-section {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100%;
}